<h1>Sign up</h1>

<div class="row">
    <div class="span6 offset3">
        <%= form_for(@user) do |u| %>
            <%= render 'shared/user_error_msg' %>

            <%= u.label :name %>
            <%= u.text_field :name %>

            <%= u.label :email %>
            <%= u.text_field :email %>

            <%= u.label :coins, "Number of coins in your wallet(ex 4.5)" %>
            <%= u.text_field :coins %>

            <%= u.label :password %>
            <%= u.password_field :password %>

            <%= u.label :password_confirmation, "Confirmation" %>
            <%= u.password_field :password_confirmation %>

            <%= recaptcha_tags.display = 'white' %> 
            
            <%= u.submit "Create my account", class: "btn btn-large btn-primary" %>
        <% end %>
    </div>
</div>
