<h2> <%= @user.name %>'s Mining operation </h2>

<p>you have <%=@coins = current_user.coins%> coins in your wallet.</p>
<% @workerCount = @user.workers.size %>
<% if @workerCount == 0 %>
    <p> You have zero workers add workers from drop down menu Account</p>
<%else%>
	<% @workerArray = @user.workers%>
    <p>You have <%= @workerCount %> workers and the stats for the mining operation are in the Table below</p>
	<table data-provides="rowlink" class="table table-bordered">
	 <thead>
	  <tr>
         <th>Worker Name</th>
        <th>Status</th>
		<th>Total Hashrate</th>
		<th>Accepted Shares</th>
		<th>Rejected Shares</th>
		<th>Hardware Errors</th>
		<th>Number of GPUs</th>
	  </tr>
	  </thead>
	  <tbody data-provides="rowlink">
          <% @workerArray.each do |work|%>
          <%if(work.online == false) %>
          <%elsif (work.GPUT1 != nil && work.GPUT1 > 89) || (work.GPUT2 != nil && work.GPUT2 > 89) || (work.GPUT3 != nil && work.GPUT3 > 89) || (work.GPUT4 != nil && work.GPUT4 > 89)%>   
            <tr class="error">
          <%elsif (work.GPUT1 != nil && work.GPUT1 > 81) || (work.GPUT2 != nil && work.GPUT2 > 81) || (work.GPUT3 != nil && work.GPUT3 > 81) || (work.GPUT4 != nil && work.GPUT4 > 81)%>
            <tr class="warning">
          <%else%>
            <tr class="success">
          <%end%>
          <td><a href=<%=user_worker_path(@user,work)%>><%=work.name%></a></td>
          <td><%= work.online ? "Online" : "Offline @ " + work.updated_at.to_s()%></td>
		  <td><%= work.online ? work.hashrate.to_s() + " KH/s" : "0"%></td>
		  <td><%= work.online ? work.accepted : 0%></td>
		  <td><%= work.online ? work.rejected : 0%></td>
		  <td><%= work.online ? work.hw_errors : 0%></td>
		  <td><%=work.num_gpu%></td>
		</tr>
	 <%end%> 
	 </tbody>
	</table>
<%end%>


