<div class="page-header">
    <h1>Workers Statistics <small><%=@user.name %>'s miners</small></h1>
</div>    
<% @workerCount = @user.workers.size %>
<% if @workerCount == 0 %>
    <p> You have zero workers add workers from drop down menu Account</p>
<%else%>
	<% @workerArray = @user.workers%>
    <p>You have <%= @workerCount %> workers and the stats for the mining operation are in the Table below</p>
	<table data-provides="rowlink" class="table table-bordered">
	 <thead>
	  <tr>
         <th>Worker Name</th>
        <th>Status</th>
		<th>Total Hashrate</th>
		<th>Accepted Shares</th>
		<th>Rejected Shares</th>
		<th>Hardware Errors</th>
		<th>Number of GPUs</th>
	  </tr>
	  </thead>
	  <tbody data-provides="rowlink">
          <% @workerArray.each do |work|%>
          <%if(work.online == false) %>
          <%elsif (work.GPUT1 != nil && work.GPUT1 > 89) || (work.GPUT2 != nil && work.GPUT2 > 89) || (work.GPUT3 != nil && work.GPUT3 > 89) || (work.GPUT4 != nil && work.GPUT4 > 89)%>   
            <tr class="error">
          <%elsif (work.GPUT1 != nil && work.GPUT1 > 81) || (work.GPUT2 != nil && work.GPUT2 > 81) || (work.GPUT3 != nil && work.GPUT3 > 81) || (work.GPUT4 != nil && work.GPUT4 > 81)%>
            <tr class="warning">
          <%else%>
            <tr class="success">
          <%end%>
          <td><a href=<%=user_worker_path(@user,work)%>><%=work.name%></a></td>
          <td><%= work.online ? "Online" : "Offline @ " + work.updated_at.to_s()%></td>
		  <td><%= work.online ? work.hashrate.to_s() + " KH/s" : "0"%></td>
		  <td><%= work.online ? work.accepted : 0%></td>
		  <td><%= work.online ? work.rejected : 0%></td>
		  <td><%= work.online ? work.hw_errors : 0%></td>
		  <td><%=work.num_gpu%></td>
		</tr>
	 <%end%> 
	 </tbody>
 </table>
 <button type="button" class = "btn" data-toggle="collapse" data-target="#legend">Legend</button>
 <div id="legend" class="collapse in">
     <ul>
         <li><small><p class="text-success">reen row means all GPUs are under 78 degrees Celsius</p></small></li>
         <li><small><p class="text-warning">Yellow row means any GPU is above 80 degrees but below 89 degrees Celsius</p></small></li>
         <li><small><p class="text-error">Red row means any GPU is above 89 degrees Celsius</p></small></li>
         <li><small><p class="text-muted">White row means the Worker is ofline</p></small><li>
     </ul>
 </div>
 <%end%>
