<h2> <%= @user.name %>'s Mining operation </h2>

<p>you have <%=@coins = current_user.coins%> coins in your wallet.</p>
<% @workerCount = @user.workers.size %>
<% if @workerCount == 0 %>
    <p> You have zero workers add workers from drop down menu Account</p>
<%else%>
	<% @workerArray = @user.workers%>
    <p>You have <%= @workerCount %> workers and the stats for the mining operation are in the Table below</p>
	<table data-provides="rowlink" class="table table-striped table-bordered">
	 <thead>
	  <tr>
	    <th>Worker Name</th>
		<th>Total Hashrate</th>
		<th>Accepted Shares</th>
		<th>Rejected Shares</th>
		<th>Hardware Errors</th>
		<th>Number of GPUs</th>
		<th>Worker Status</th>
	  </tr>
	  </thead>
	  <tbody data-provides="rowlink">
	 <% @workerArray.each do |work|%>
          <tr class="rowlink">
          <td><a href=<%=user_worker_path(@user,work)%>><%=work.name%></a></td>
		  <td><%=work.hashrate.to_s() + "MH/s"%></td>
		  <td><%=work.accepted%></td>
		  <td><%=work.rejected%></td>
		  <td><%=work.hw_errors%></td>
		  <td><%=work.num_gpu%></td>
		  <td><%="Coming soon"%></td>
		</tr>
	 <%end%> 
	 </tbody>
	</table>
<%end%>


