<div class="page-header">
    <h1>Setup a Worker</h1>
</div>
<h2>Enter a worker name below to create a new worker.</h2>
<div class="row">
    <div class="span4 offset1.5">
        <%= form_for([@user, @worker]) do |w| %>
            <%= render 'shared/worker_error_msg' %>
            <%= w.label :name %>
            <%= w.text_field :name %>

            <%= w.submit "Create Worker", class: "btn btn-medium btn-primary" %>
        <% end %>
    </div>
</div>    
<h4>Now download our client side application for your OS</h4>
<%= link_to 'Windows Download', '#'%> 
<br><br>
<%= link_to 'Linux Download', '#' %>
   
