<% @worker = Worker.find_by_id(params[:id])%>
<h1><%=@worker.name%>'s detailed statistics</h1>


<% if current_user?(@worker.user) %>
    <%@user = @worker.user%>
    <% @hashtotal = 0 %>
    <table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Accepted Shares</th>
        <th>Rejected Shared</th>
        <th>Hardware Errors</th>
        <th>GPU1 Temp</th>
        <th>GPU1 Hash</th>
        <% if @worker.num_gpu >= 2 %>
            <th>GPU2 Temp</th>
            <th>GPU2 Hash</th>
            <% if @worker.num_gpu >= 3%>
                <th>GPU3 Temp</th>
                <th>GPU3 Hash</th>
                <% if @worker.num_gpu >= 4%>
                    <th>GPU4 Temp</th>
                    <th>GPU4 Hash</th>
                <%end%>
            <%end%>
        <%end%>
        <th>Last 5s Hashrate Avg</th>
    </tr>
    </thead>
    <tbody>
    <td><%=@worker.accepted%></td>
    <td><%=@worker.rejected%></td>
    <td><%=@worker.hw_errors%></td> 
    <td><%=@worker.GPUT1.to_s() + "C"%> </td>
    <% if @worker.GPUH1.to_f == nil.to_f%>
        <td><%=@worker.GPUH1.to_s() + "KH/s"%></td>
        <% @hashtotal = 0 %>
    <%else%>
        <td><%=(@worker.GPUH1*1000).to_s() + "KH/s"%></td>
        <% @hashtotal += (@worker.GPUH1 * 1000) %>
    <%end%>
    <% if @worker.num_gpu >= 2 %>
        <td><%=@worker.GPUT2.to_s() + "C"%></td>
        <td><%=(@worker.GPUH2*1000).to_s() + "KH/s"%></td>
        <% @hashtotal += (@worker.GPUH2*1000) %>
        <% if @worker.num_gpu >= 3%>
            <td><%=@worker.GPUT3.to_s()+ "C"%></td>
            <td><%=(@worker.GPUH3*1000).to_s() + "KH/s"%></td>
            <% @hashtotal += (@worker.GPUH3*1000) %>
            <% if @worker.num_gpu >= 4%>
                <td><%=@worker.GPUT4.to_s() + "C"%></td>
                <td><%=(@worker.GPUH4*1000).to_s() + "KH/s"%></td>
                <% @hashtotal += (@worker.GPUH4*1000) %>
            <%end%>
        <%end%>
    <%end%>
    <td><%= @hashtotal.to_s()+ "KH/s"%></td>
    </tbody>
    </table> 
    <%= button_to "Delete", user_worker_path(@user, @worker), method: :delete, class: "btn btn-small btn-danger", data: {confirm: "Are you sure you want to delete this worker?"}%>
<%end%>

