<header class="navbar navbar-fixed-top navbar-inverse">
 <div class ="navbar-inner">
  <div class="container">
      <%= link_to "Miners Canary", root_path ,id:"logo" %> 
      <nav>
      <span class="label label">LTC price:$<%= 0 %> </span>
      <span class="label label-warning">BTC Price:$<%= 0  %> </span>
       <ul class="nav pull-right">
           <li><%= link_to "Home", root_path %></li>
           <% if signed_in?() %>
               <li> <%= link_to "Stats", current_user%></li>
               <li id=fat-menu class="dropdown">
                <a hred= "#" class="dropdown-toggle" data-toggle="dropdown">
                    Account<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                 <li><%= link_to "Add a Worker", new_user_worker_path(current_user)%></li>
                 <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                 <li class="divider"><li>
                 <li>
                 <%= link_to "Sign out", signout_path, method: "delete"%>
                 </li>
                </ul>
               </li>
           <% else %>
               <li><%= link_to "Sign in", signin_path %> </li>
           <%end%>
       </ul>
      </nav>
  </div>
 </div>
</header>
